:root {
    --thyme-black: #202123;
    --thyme-charcoal: #343541;
    --thyme-light-grey: #565869;
    --thyme-text-area: #40414F;
    --thyme-lighter-grey: #ABABAB;
    --thyme-white: #FFFFFF;

    --thyme-font-largest: 80;
    --thyme-font-placeholder-text: 70;
    --thyme-font-large: 35;
    --thyme-font-medium: 30;
    --thyme-font-small: 22;
    --thyme-font-smallest: 18;
    --thyme-font-tooltips: 14;
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: var(--thyme-font-smallest);
    color: var(--thyme-white);
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}


html, 
.centered-in-x-and-y {
    width: 100vw;
}

html,
body, 
.content, 
.centered, 
.centered-in-x-and-y {
    background-color: var(--thyme-charcoal);
    color: var(--thyme-white);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1, h2,
.home-secondary-title-italicized
 {
    font-family: "ABeeZee", sans-serif;
    color: var(--thyme-white);
}

h1 {
    font-size: var(--thyme-font-large);
}

h2 {
    font-size: var(--thyme-font-medium);
}

h3 {
    font-size: var(--thyme-font-small);
}

button,
#submit {
    background-color: var(--thyme-white);
    color: var(--thyme-black);
    width: fit-content;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    padding-inline: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

input {
    color: var(--thyme-black);
}

section {
    margin-bottom: 40px;
}

textarea {
    width: 500px;
    color: var(--thyme-white);
    background-color: var(--thyme-text-area);
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 15px;   
    justify-content: center;
    align-content: center;
}


/*---------------------*/
/* Classes
/*---------------------*/
.answer {
    width: 80vw
}

.centered, 
.centered-in-x-and-y {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.centered-in-x-and-y {
    justify-content: center;
    justify-items: center;
}

.chat {
    width: 95vw;
    height: 80vh;
    flex-direction: column;
    justify-content: end;
}

.chat-answer, 
.chat-thyme-placeholder {
    width: 90vw;
    height: 75vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.chat-answer {
    background-color: color(--thyme-charcoal);
    color: var(--thyme-white);
    font-size: var(--thyme-font-smallest);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.chat-thyme-placeholder {
    font-size: var(--thyme-font-placeholder-text);
    color: var(--thyme-light-grey);
}

.form-field-label{
    padding-inline: 15px;
    padding-block: 10px;
    margin: 10px;
}

.form-field-label-one-line > label {
    color: var(--thyme-lighter-grey);
    margin: 15px;
}


.habit {
    padding-block: 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.habit-bold {
    font-weight: 500;
}

.icon {
    width: 20px;
    padding-right: 10px;
}

.home-secondary-title-italicized {
    font-style: italic;
}

.horizontally-centered-content,
.horizontal-button-container,
.icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-inline: 5px;
    margin-inline: 4px;
}

header {
    display: flex;
    flex-direction: row;
    padding-inline: 5px;
    margin-inline: 5px;
    justify-content: end;
}

.justified-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-inline: 5px;
    margin-inline: 5px;
}

.justified-right {
    justify-content: right;
}

.fa {
    color: var(--thyme-lighter-grey);
    margin: 10px;
}

.icon-white {
    color: var(--thyme-white);

}

.one-line-form {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transparent-icon-button {
    background-color: transparent;
    padding: 0px;
    margin: 5px;
}

.header-right-buttons {
    justify-self: end;
}

.header-thyme {
    line-height: 5px;
    margin-right: 200px;
    color: var(--thyme-lighter-grey);
}

.header-thyme-text {
    font-size: var(--thyme-font-medium);
}

.home-titles {
    width: 100vw;
    margin: 100px;
}

.home-main-title {
    color: var(--thyme-lighter-grey);
    font-size: var(--thyme-font-largest);
    margin-top: 140px;
}

.home-secondary-title,
.home-secondary-title-italicized,
.icon-button {
    margin: 0px;
    font-size: var(--thyme-font-medium);
}

.home-secondary-title, 
.home-secondary-title-italicized{
    color: var(--thyme-lighter-grey);
    font-weight: 250;
}

.icon-button {
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    margin: 40px;
    margin: 60px;
}

.invite-to-beta-testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invite-to-beta-testing > p {
    color: var(--thyme-lighter-grey);
    padding: 0px;
    margin: 5px;
}

.left-justified {
    margin: 10px;
    padding: 10px;
    padding-left: 100px;
}



.privacy-and-terms-links {
    font-size: var(--thyme-font-smallest);
    color: var(--thyme-lighter-grey);
}

.privacy-and-terms {
    padding: 60px;
    padding-top: 0px;
}

#content {
    z-index: 0;
}

#loader {
    position: fixed;
    display: none;
    z-index: 1;
    border: 14px solid var(--thyme-lighter-grey);
    border-top: 14px solid var(--thyme-light-grey);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin-bottom: 40px;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.return-home {
    color: var(--thyme-lighter-grey)
}


button:hover, 
a:hover,
#submit:hover {
    font-weight: 500;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    font-size: var(--thyme-font-tooltips);
    visibility: hidden;
    width: fit-content;
    background-color: var(--thyme-lighter-grey);
    color: var(--thyme-black);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 80%; 
    left: 50%; 
    margin-left: -50%; 
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


/* ---------------------------- */
/* MOBILE
/* ---------------------------- */
@media only screen and (max-width: 668px) {
    * {
        font-size: var(--thyme-font-smallest); 
    }

    header {
        justify-content: center;
    }

    textarea {
        width: 90%;
        margin-inline: 20px;
    }

    .chat-answer {
        padding: 0px;
    }

    .home-titles {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-block: 50px;
        margin-inline: 5px;
    }

    .home-main-title, 
    .home-secondary-title,
    .home-secondary-title-italicized, 
    .invite-to-beta-testing, 
    .icon-button {
        margin-inline: 20px;
        margin-block: 15px;
    }

    .home-secondary-title, 
    .home-secondary-title-italicized {
        font-size: var(--thyme-font-medium); 
    }

    button,
    #submit {
        margin: 10px;
        padding: 10px;
        padding-inline: 15px;
    }
    .icon-button {
        margin: 20px;
        padding: 15px;
    }

    .transparent-icon-button {
        margin: 0px;
        padding: 0px;
    }

    .header-thyme-button,
    .transparent-icon-button {
        padding: 5px;
        font-size: var(--thyme-font-smallest);
        color: var(--thyme-white)
    }

    .header-thyme-button {
        margin-right: 10px;
    }

    .invite-to-beta-testing,
    .invite-to-beta-testing > p{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        align-self: center;
    }

    .invite-to-beta-testing > p, a {
        font-size: var(--thyme-font-smallest);
    }

    .left-justified {
        margin: 20px;
        padding: 20px;
       
    }

    .one-line-form {
        width: 95vw;
    }

    .textareafield {
        padding: 5px;
        margin: 10px;
    }

}

