{% extends "base.html" %}
{% block content %}
<div>
    <div class="left-justified">
        <h2>Profile</h2>
        <h3>Daily Schedule</h3>        
        <ul>
            <li>Wake Time: {{user.wake_time.strftime('%-I:%M %p')}}</li>
            <li>Sleep Time: {{user.sleep_time.strftime('%-I:%M %p')}}</li>
        </ul>
        <a href="{{ url_for('home.updatePreferences') }}">
            <button>Update</button>
        </a>
    </div>
   <div class="left-justified">
    <h3>My Habits</h3>
    <div>
        <h4>Personal</h4>        
        <ul>
            {% for habit in habits %}
            {% if habit.personal %}
            <li>{% include "components/habit.html" %}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Work</h4>        
        <ul>
            {% for habit in habits %}
            {% if not habit.personal%}
            <li>{% include "components/habit.html" %}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('home.addHabit') }}">
        <button>Add Habit</button>
    </a> 
   </div>
</div>
{% endblock %}