{% extends "base.html" %}
{% block content %}
<div class="centered-in-x-and-y">
    <div class="centered-in-x-and-y home-titles">
        <h1 class="home-main-title">Meet Thyme</h1>
        <h2 class="home-secondary-title">Your personal AI assistant.</h2>     
        {% include "/components/buttons/continue_with_google.html" %}
        <div class="invite-to-beta-testing">
                <p>Thyme is currently in beta testing!</p>
                <p>Want access? Email 
                    <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=hello@thyme.company&tf=cm">hello@thyme.company</a>
                </p>
           
        </div>
    </div>
    
</div>
{% endblock %}