{% extends "base.html" %}
{% block content %}
<div class="centered-in-x-and-y">
    <div class="centered-in-x-and-y home-titles">
        <h1 class="home-main-title">Meet Thyme</h1>
        <h2 class="home-secondary-title">Your personal AI assistant.</h2> 
        {% include "/components/buttons/continue_with_google.html" %}
        <iframe 
        src="https://www.youtube.com/embed/8H4GNelhmnw?si=3a9i0WIy49kuJrVH" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
        </iframe>
        <div class="invite-to-beta-testing">
            <p>Thyme is currently in private beta testing!</p>
            <p>Want access? Email {% include "components/email_us.html"%} from a Gmail account.</p>
            <div>
                <p class="privacy-and-terms-links">
                <a class="privacy-and-terms-links" method="get" href="{{ url_for('home.privacy') }}">Privacy</a>
                &
                <a class="privacy-and-terms-links" method="get" href="{{ url_for('home.terms') }}">Terms</a>
                </p>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}