{% extends "base.html" %}
{% block content %}
<div class="centered-in-x-and-y">
    <div class="centered-in-x-and-y home-titles">
        <h1 class="home-main-title">Meet Thyme</h1>
        <h2 class="home-secondary-title">Your personal AI assistant.</h2> 
        {% include "/components/buttons/continue_with_google.html" %}
        <video 
            controls 
            poster="https://storage.googleapis.com/frankie-esparza-portfolio/thumbnails/thyme-website.png">
                <source 
                src="https://storage.googleapis.com/frankie-esparza-portfolio/videos/thyme-website.mp4" 
                type="video/mp4"
                >
                Your browser does not support the video tag.
        </video>
        </div>
        <div class="invite-to-beta-testing">
            <p>Thyme is currently in private beta testing! Want access? Email 
                <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=hello@thyme.company&tf=cm">hello@thyme.company</a>
                from a Gmail account.
            </p>
            <div>
                <p>
                <a method="get" target="_blank" href="{{ url_for('home.privacy') }}">Privacy</a>
                &
                <a method="get" target="_blank" href="{{ url_for('home.terms') }}">Terms</a>
                </p>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}